.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 2rem;
  border-radius: 10px;
  height: 60vh;
  width: 40vh;
  color: rgb(0, 130, 255);
  font-weight: 600;
  background: rgb(255, 255, 255);
  box-shadow: 0 0 60px rgb(206, 206, 206);
  text-align: center;
}

.container span {
  font-size: 1.5rem;
  margin: 10px 0 15px 0;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
}

.info p {
  text-transform: capitalize;
}

.search {
  display: flex;
  height: fit-content;
}

.search input {
  font-size: 0.9rem;
  border: none;
  padding: 5px;
  border-radius: 4px;
  box-shadow: 0 0 4px rgb(219, 219, 219);
}

.search input:focus {
  outline: none;
}

.search button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  height: 26px;
  border-radius: 4px;
  background: white ;
  color: rgb(0, 130, 255);
  border-left: none;
  box-shadow: 0 0 4px rgb(219, 219, 219);
  margin-left: 5px;
}

.search button img {
  height: 100%;
  background-size: contain;
}

.tempBox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  margin-top: 16px;
}

.umidade {
  display: flex;
  height: 26px;
}

.umidade img {
  height: 100%;
}

.temp  {
  margin: 0 5px 5px 5px;
}

@media (max-width: 310px){
  .container {
    width: 37vh;
  }
}



@media (max-height: 600px) {
  .container {
    height: 70vh;
  }
}



@media (max-height: 490)  {
  .container {
    height: 75vh;
  }
}


@media (max-height: 470px)  {
  .container {
    height: 90vh;
    width: 60vh;
  }
}

@media (max-height: 380px)  {
  .container {
    height: 100vh;
  }
}

@media (max-height: 300px)  {
  .container {
    height: 120vh;
  }
}


@media (max-width: 330px) and (orientation: portrait) {

  .info {
    width: 110%;
  }
}